<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="/AEAPI/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include autotitle.html html=content %}
    {% seo title=false %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Philosopher:400&display=swap" />
    <link rel="stylesheet" href="{{ 'assets/fontello/css/fontello.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/aeapi_style.css?v=' | append: site.github.build_revision | relative_url }}" />
  </head>

  <body>
    <header>
      <div id="backgroundImage"></div>

      <div class="adjusted">
        <img src="{{ site.logo }}" alt="AEAPI" />
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <nav>
          <a href=""><i class="icon-home"></i> Inicio</a>
          <a href="quienes_somos"><i class="icon-group"></i> Quiénes somos</a>
          <a href="foro"><i class="icon-comment-alt"></i> Foro público</a>
          <a href="contacto"><i class="icon-mail"></i> Contacto</a>
        </nav>
      </div>
    </header>

    <section id="content" class="adjusted">
      {{ content }}
    </section>
    
    <footer>
      <div class="adjusted">
        <a id="statutesLink" href="estatutos"><i class="icon-hammer"></i> Estatutos de la asociación</a>

        <div id="legalLinks">
          <a href="cookies">Política de almacenamiento de cookies</a>
          <a href="privacidad">Política de privacidad de datos</a>
        </div>
      </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153660910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153660910-1');
    </script>
  </body>
</html>