<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="/AEAPI/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include autotitle.html html=content %}
    {% seo title=false %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/aeapi_style.css?v=' | append: site.github.build_revision | relative_url }}" />
  </head>

  <body>
    <header>
      <div class="adjusted">
        <img src="{{site.logo | relative_url}}" alt="AEAPI" />
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <nav>
          <a href="">Inicio</a>
          <a href="quienes_somos">Quiénes somos</a>
          <a href="foro">Foro público</a>
          <a href="contacto">Contacto</a>
        </nav>
      </div>
    </header>

    <section id="content" class="adjusted">
      {{ content }}
    </section>
    
    <footer>
      <div class="adjusted">
        <a href="">Colaboradores</a>
        <a href="">Estatutos</a>
      </div>
    </footer>
  </body>
</html>